argumentparser==1.2.1
blist==1.3.6
cassandra-driver==3.14.0
click==6.7
configparser==3.5.0
Flask==1.0.2
Flask-CQLAlchemy==1.2.0
futures==3.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
six==1.11.0
Werkzeug==0.14.1
